@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.mycls{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}
.mycls_about{
    font-family: "Space Grotesk", sans-serif;
    font-size: x-large;
    font-weight: 500;
}
.mycls_head{
    font-family: "Space Grotesk", sans-serif;
}