<h1 class="mycls_head">Welcome {{ username }}</h1>
<h1 class="mycls_head">Choose Your Topic to Discuss</h1>

<div class="topics">
    <div class="program lightpink" routerLink="/discussion/Sports">
        <h3>Sports</h3>
    </div>
    <div class="program lightskyblue" routerLink="/discussion/Education">
        <h3>Education</h3>
    </div>
    <div class="program lightgreen" routerLink="/discussion/Entertainment">
        <h3>Entertainment</h3>
    </div>
    <div class="program mediumpurple" routerLink="/discussion/Online-Games">
        <h3>Online Games</h3>
    </div>
    <div class="program mediumturquoise" routerLink="/discussion/Product-Reviews">
        <h3>Product Reviews</h3>
    </div>
    <div class="program lightgoldenrodyellow" routerLink="/discussion/Art">
        <h3>Art</h3>
    </div>
    <div class="program lightcyan" routerLink="/discussion/Food">
        <h3>Food</h3>
    </div>
    <div class="program wheat" routerLink="/discussion/Personal-Development">
        <h3>Personal Development</h3>
    </div>
    <div class="program khaki" routerLink="/discussion/Politics">
        <h3>Politics</h3>
    </div>
    <div class="program gold" routerLink="/discussion/International-News">
        <h3>International News</h3>
    </div>
    <div class="program lemonchiffon" routerLink="/discussion/General">
        <h3>General</h3>
    </div>
</div>
