<div class="flex flex-col items-center justify-center min-h-screen p-6 text-center">
    <img src="logo.png" alt="Image 1" class="w-72 h-72 object-cover rounded-lg  mb-6">
    <div class="wrapper">
        <div class="item item1">Connect</div>
        <div class="item item2">Grow</div>
        <div class="item item3">Share</div>
        <div class="item item4">Inspire</div>
        <div class="item item5">Learn</div>
        <div class="item item6">Explore</div>
        <div class="item item7">Collabrate</div>
        <div class="item item8">Engage</div>
      </div>
</div>

<div class="flex flex-col items-center justify-center min-h-screen p-6 text-center">
    <img src="Game.png" alt="Image 1" class="w-72 h-72 object-cover rounded-lg  mb-6">
    <h3 class="mycls_about text-gray-700 mb-2">SEE WHO'S AROUND TO CHILL</h3>
    <p class="mycls text-gray-600">See who's around, or just hanging out. Words and ideas can change the world.</p>
</div>

<div class="flex flex-col items-center justify-center min-h-screen p-6 text-center">
    <img src="Discuss.png" alt="Image 1" class="w-72 h-72 object-cover rounded-lg  mb-6">
    <h3 class="mycls_about text-gray-700 mb-2">ALWAYS HAVE SOMETHING TO DO TOGETHER</h3>
    <p class="mycls text-gray-600">Meet new ones, Connect, The aim of argument, or of discussion, should not be victory, but progress.</p>
</div>
  
<div class="flex flex-col items-center justify-center min-h-screen p-6 text-center">
    <h3 class="last text-4xl text-gray-700 mb-2">Click to start a demo chat with Bot</h3><br><br>
    <button routerLink="/chat"> Click me!
    </button>
</div>


<hr>
<footer class="flex flex-col items-center justify-center text-center">
    <a routerLink="/contact" class="mycls bg-blue-500 text-white px-4 py-2 rounded mt-4 inline-block">
        For Contact 
    </a>
    <p class="mycls text-gray-600 mt-4">&copy; 2024 Karthikeyan R</p>
</footer>